In [2]:
import pandas as pd

schools = pd.read_csv("schools.csv")

schools["average_math"] = pd.to_numeric(schools["average_math"], errors='coerce')
schools["average_reading"] = pd.to_numeric(schools["average_reading"], errors='coerce')
schools["average_writing"] = pd.to_numeric(schools["average_writing"], errors='coerce')

schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values(by="average_math", ascending=False)

top_10_schools = schools[["school_name", "total_SAT"]].sort_values(by="total_SAT", ascending=False).head(10)

borough_stats = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).reset_index()
borough_stats.columns = ["borough", "num_schools", "average_SAT", "std_SAT"]
borough_stats = borough_stats.round({"average_SAT": 2, "std_SAT": 2})
largest_std_dev = borough_stats.sort_values(by="std_SAT", ascending=False).head(1)

print("Best Math Schools:\n", best_math_schools.head())
print("\nTop 10 Schools by SAT:\n", top_10_schools)
print("\nBorough with Largest Std Dev:\n", largest_std_dev)

Best Math Schools:
                                            school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

Top 10 Schools by SAT:
                                            school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

Borough with Largest Std Dev:
      borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29